main {
  background-color: black;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.grid-container {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  width: 60rem;
  height: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.first-row {
  /* background-color: red; */
}

.card {
  height: 16rem;
  width: 12rem;
  background-color: #262a56;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.card h1,
.card p {
  margin: 0;
}

.name {
  font-size: 1.4rem;
}

.type i {
  background-color: white;
  color: black;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
}

.stats-section {
  /* margin-top: 4rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.stats-section > p {
  margin-bottom: 1rem;
}

.stats-section > section section {
  display: flex;
  font-size: 0.6rem;
  gap: 1rem;
}

img {
  width: 7rem;
}
.second-row {
  /* background-color: blue; */
}
.third-row {
  /* background-color: yellow; */
}
